/* COLORS*/
/*SHADOWS*/
/*BORDER RADIUS*/
/*PADDING*/
@font-face {
  font-family: "shrikhandregular";
  src: url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.eot");
  src: url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.woff2") format("woff2"), url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.woff") format("woff"), url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.ttf") format("truetype"), url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.eot");
  src: url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.woff2") format("woff2"), url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.woff") format("woff"), url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.ttf") format("truetype"), url("../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "shrikhandregular", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.title--center {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
}
.title--left {
  text-align: left;
  margin-left: 10px;
}

.button {
  background: linear-gradient(to bottom right, hsl(317deg, 100%, 74%), #9356DC);
  width: fit-content;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgb(205, 205, 205);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  max-width: 300px;
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  box-shadow: 0px 2px 5px rgb(205, 205, 205);
  margin: 7px;
  border-radius: 20px;
}
.card__image {
  object-fit: cover;
  overflow: hidden;
  position: relative;
  flex: 2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__image--img {
  height: auto;
  width: 100%;
  position: relative;
}
.card__image__new {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: #99E2D0;
  color: #278870;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  font-size: 12px;
}
.card__lower {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.card__lower__text {
  padding-left: 10px;
}
.card__lower__text--name {
  font-weight: bold;
  margin-bottom: 0px;
}
.card__lower__text--place {
  margin-top: 7px;
}
.card__lower__like {
  align-self: center;
  margin-right: 20px;
}

.header {
  margin: 0px;
  margin-bottom: 3px;
  display: flex;
  width: 100%;
  box-shadow: 0px 3px 3px rgb(205, 205, 205);
}
.header__logo {
  margin: auto;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  color: white;
  background-color: #3b3b3b;
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer__title {
  margin-top: 0px;
  font-size: 18px;
  padding-top: 20px;
}
.footer__menu {
  padding-left: 0px;
  font-size: 14px;
}
.footer__menu__link {
  margin-top: 5px;
  list-style: none;
  padding-left: none;
  text-decoration: none;
  color: white;
}
.footer__menu__link--icon {
  width: 5px;
  margin-right: 20px;
}

.localisation {
  display: flex;
  background-color: #e5e5e5;
  height: 30px;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.localisation__icon {
  margin-right: 20px;
}
.localisation__town {
  width: fit-content;
}

.pageTop {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5px 50px 5px;
}
.pageTop__description {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 20px;
}

.guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5px 50px 5px;
}
.guide .title--left {
  align-self: start;
}
.guide__stage {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  max-width: 300px;
  height: 70px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgb(205, 205, 205);
  margin: 20px 5px 20px 10px;
}
.guide__stage__step {
  background-color: #9356DC;
  font-size: 14px;
  color: white;
  border-radius: 45px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}
.guide__stage__icon {
  color: #8e8e8e;
  margin: 15px;
}
.guide__stage__icon--purple {
  color: #9356DC;
}
.guide__stage--purple {
  background-color: #f6f0ff;
}

.restaurants {
  background-color: #f7f7f7;
  padding: 30px 5px 50px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
