.header{
    margin: 0px;
    margin-bottom: 3px;
    display: flex;
    width: 100%;
    box-shadow: 0px 3px 3px $color-shadow;
    position: relative;
    padding-top: 10px;
    &__logo{
        margin: auto;
        width: 150px;
        margin-top: 15px;
        margin-bottom: 15px;
        position: relative;
    }
    &__arrow{
        top: 15px;
        left: 10px;
        color: black;
        position: absolute;
    }
}