
.title{
    &--center{
        text-align: center;
        margin-right: 40px;
        margin-left: 40px;
    }
    &--left{
        text-align: left;
        margin-left: 10px;
        width: 300px;
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }
}