
@font-face {
    font-family: 'shrikhandregular';
    src: url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.eot');
    src: url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.woff') format('woff'),
         url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.ttf') format('truetype'),
         url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'shrikhandregular';
    src: url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.eot');
    src: url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.woff') format('woff'),
         url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.ttf') format('truetype'),
         url('../../fonts/shrinkhand_webkit/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family:'Roboto', sans-serif;
}

h1{
   font-family: 'shrikhandregular', sans-serif; 
}

