.loadingSpinner{
    height: 70px;
    width: 70px;
    position: absolute;
    border: solid $spinnerBorder transparent;
    border-radius: 50px;
    background: white;
    background-clip: padding-box;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    &::before{
        content: "";
        position: absolute;
        top: 0px; right: 0px; bottom: 0px; left: 0px;
        z-index: -1;
        margin: -$spinnerBorder;
        border-radius: inherit;
        background: $spinnerColor;
        animation: loading-page $spinnerTime linear forwards;
    }
}

.pageBody{
    animation: appear ease-in 500ms $spinnerTime both;
}

.localisation{
    display: flex;
    @include background-color($background-primary, 7%);
    height: 30px;
    align-items: center;
    justify-content: center;
    height: 40px;
    &__icon{
        margin-right: 20px;
    }
    &__town{
        width: fit-content;
    }
}

.pageTop{
    background-color: $background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-section;
    &__description{
        text-align: center;
        font-weight: lighter;
        margin-bottom: 20px;
    }
}

.guide{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-section;
    &__stage{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        max-width: 300px;
        height: 70px;
        background-color: $background-primary;
        border-radius: $card-border;
        @include shadow($color-shadow);
        margin: 20px 5px 20px 10px;
        &:hover{
            background-color: $pastel;
            & > .guide__stage__icon{
                color: $color-primary;
            }
        }
        &--all{
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
            }

        }
        &__step{
            background-color: $color-primary;
            font-size: 14px;
            color: white;
            border-radius: 45px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -10px;
        }
        &__icon{
            color:$icon_color;
            margin: 15px;
        }
    }
}

.restaurants{
    background-color: $background-primary;
    padding: $padding-section;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--all{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
