
.container{
    position: relative;
}

.menuImage{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: 992px) {
        max-height: 400px;
        object-fit: cover;
    }
}

.menu{
    background-color: $background-primary;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__title{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px;
        padding-top: 35px;
        padding-bottom: 0px;
        display: flex;
        justify-content: space-between;
        border-top-left-radius: $card-border;
        border-top-right-radius: $card-border;
        margin-top: -20px;
        background-color: $background-primary;
        position: absolute;
        width: 100%;
        font-size: 25px;
        font-weight: lighter;
        &--icon{
            margin-right: 10px;
        }

    }
    
}

.section{
    padding-top: 10px;
    @media screen and (min-width: 768px) {
        width: 500px;
        margin: auto;
    }
    @media screen and (min-width: 992px){
        padding-top: 70px;
        width: 350px;
    }
    &--all{
        display: flex;
        flex-direction: column;
        @media screen and (min-width:992px)  {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &--top{
        padding-top: 70px;
    }
    &__title{
        text-transform: uppercase;
        font-weight: lighter;
        padding-left: 20px;
        position: relative;
        font-size: 16px;
        margin-bottom: 20px;
        &::before{
            content: '';
            position: absolute;
            bottom: -5px; left: 20px;
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
        }
    }
    &__card{
        background-color: white;
        border-radius: $card-border;
        @include shadow($color-shadow);
        margin: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 70px;
        overflow: hidden;
        padding-left: 3px;
        &:hover > &__animation {
            transform: scaleX(1);
            transition: transform 80ms ease-in-out;
            display: flex;
            visibility: visible;
            transform-origin: right;
            i {
                transform: rotate(0turn);
                transition: transform 400ms ease-in-out 50ms;
            }
        }
        
        &__animation{
            transform: scaleX(0);
            visibility: collapse;
            width: 70px;
            height: 70px;
            padding: 0px;
            background-color: $color-tertiary;
            border-bottom-right-radius: $card-border;
            border-top-right-radius: $card-border;
            &--icon{
                display: flex;
                margin: auto;
                align-items: center;
                color: $color-tertiary;
                background-color: white;
                font-size: 14px;
                font-weight: bolder;
                padding: 3px;
                height: 18px;
                width: 18px;
                border-radius: 45px;
            }
            & i{
                transform: rotate(1turn);
            }
        }
        &__dish{
                flex-direction: column;
                margin: 10px;
                width: 100%;
                min-width: 0px;
                &--name{
                    font-weight: 500;
                    margin: 3px;
                    font-size: 16px;
                    text-overflow: ellipsis;
                    text-align: left;
                    overflow: hidden;
                    word-break: break-all;
                    white-space: nowrap;
                }
                &__dcp{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    margin: 3px;
                    height: 19px;
                    align-items: center;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    text-align: left;
                    white-space: nowrap;
                    &--text{
                        font-weight: lighter;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        height: 17px;
                        text-align: left;
                    }
                    &--price{
                        font-weight: bold;
                        margin-right: 15px;
                    }
                }
            }
        }
    
}

.button--order{
    align-self: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 35px;
    margin-bottom: 80px;
    @include shadow($color-shadow);
}

