

@mixin background-color($color, $amount) {
    background-color: darken($color, $amount);
}

@mixin shadow($color) {
    box-shadow: 0px 2px 5px $color;   
}

@mixin pastel($color) {
    background-color: scale-color($color, $saturation:100%);
}