
/* COLORS*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$background-primary:#f7f7f7;

$icon_color: #8e8e8e;

/*SHADOWS*/
$color-shadow: rgb(205, 205, 205);

/*BORDER RADIUS*/
$card-border: 20px;