
/* COLORS*/
$color-primary: #9356DC;
$color-secondary: hsl(317, 100%, 74%);
$color-tertiary: #99E2D0;

$background-primary:#f7f7f7;

$icon_color: #8e8e8e;

$pastel: #f6f0ff;

$new-text: darken($color-tertiary, 40%);

$footer-background: #3b3b3b;

/*SHADOWS*/
$color-shadow: rgb(221, 221, 221);

/*BORDER RADIUS*/
$card-border: 20px;

/*PADDING*/
$padding-section: 30px 5px 50px 5px;